.loginform
{
    width: 300px;
    border: 1px solid lightcoral;
    padding:10px;
    border-radius: 10px;
    background-image: url("/Images/Kohli.JPG");
    background-repeat: repeat;
    background-size:cover;
    background-repeat:no-repeat
   
}

.loginform img
{
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 50%;
    margin-bottom: 10px;
}

.loginform input , .loginform button
{
    padding: 5px;
    width: 100%;
     box-sizing: border-box;
     border: 1px solid yellow;
}
.loginform button{
    border: none;
    background-color: blue;
    color:white;
}
.loginform input::placeholder
{
    color:red;
    
}
.loginform input
{
    color:green;
    
}
