        
    
       .userdp
       {
        width: 50px;
        height: 50px;
        border-radius: 50%;

        border: 2px solid red;
        overflow: hidden;
       }
       .userdp img
       {
        width: 170%;
        object-fit: contain;

       }
      .posthead
       {
        display: flex;
        gap:10px;
        
       }

      /* .unameandloc
      {
        display: flex;
        justify-content: space-between;
      } */
      div{
        border:2px solid red
      }
      .userdp
      {
        display: flex;
      }
      .abc
      {
        display: flex;
        justify-content: space-between;
      }
