/* div{
    border: 2px solid black;
} */
.div1
{
    width: 200px;
    height: 200px;
   
   
}

img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.div1{
    position:relative;
    margin: 100px auto;
    /* left:200px; */
    border: 2px solid red;
    border-radius: 50px;
    overflow: hidden;
}

.fav
{
    width: 100px;
    position:absolute;
    left: 100px;
    top:100px;
    border-radius: 5px;
}
.heart
{
    width: 50px;
   
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 5px;
    

}
.heart svg
{
    width: 100%;
}
