.helpbtn 
{
    position: fixed;
    /* left:200px; */
    right:10px;
    bottom: 10px;
    width: 100px;
}
button{
    width: 100%;
}

div{
    border: 2px solid red;
    width: 300px;
}


img{
    width: 300px;
}

div{
    position: absolute;
    display: inline;
}
.div1
{
    position:relative;
}
.div2
{
    left:500px;
    top:0px
}
